*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F8F9FA; 
    height: 2000px;
    font-family: Sans-serif;
}

.navbar{
    background-color:#F8F9FA; 
    width: 100%; 
    height: 80px;
    position: fixed; 
    top: 0; 
    left: 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0px 50px;
    box-shadow: 0 2px 5px rgba(21, 21, 21, 0.05); 
}

.logo img{
    width:100px;
}

.links ul {
    list-style: none; 
    display: flex; 
}

.links ul li a {
    text-decoration: none; 
    color: #C2185B; 
    margin-left: 30px;
    font-weight: bold;
    position: relative;
}

.links ul li a:hover {
    color: #333; 
}

.links ul li a::before {
    content: '';
    position: absolute;
    top: 20px;
    width: 0px;
    height: 2px;
    background-color: #333;
    transition: 1s;
}

.links ul li:hover  a::before {
    width: 100%;
}

.home{
    text-align: center;
    margin:200px 220px;
}

.home-desc h1{
   font-size:100px;
   color: #C2185B;
}

.home-desc p{
   font-size: 42px;
   color: #4A4A4A;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////// */

.about-title{
   text-align: center;
}

.about-title h2{
   font-size:53px;
   color: #C2185B;
}

.about-title p{
    font-size:35px;
    color: #4A4A4A; 
    padding: 10px;
}

.about-img{
   display: flex;
   justify-content: center; 
}

.about-img img{
   margin-top: 15px;
   width: 280px;
   height: 280px;
   object-fit: cover;
   border-radius: 50%;
   border: 5px solid #C2185B;
   transition: 0.5s;
}

.about-img img:hover{
    transform: scale(1.08); 
    border-color: #C2185B; 
    box-shadow:10px 10px 10px 1px #e54786 ;
}

.about-desc p{
    padding: 17px 100px;
    font-size:24px;
    line-height: 30px;
    text-align: center;
    color: #4A4A4A;
}